{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/artmath">Koch
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nees_carres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fig3">Carres Latins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="SAE24_compte_rendu_final.pdf">Mon compte rendu</a>
        </li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="#">
    <h1>Programme Python nees_carre.py</h1>
    <h1>Paramètres :</h1>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    <form method="post" action="/calculer_nees">
        <div>
            <label for="Hasard" class="form-label">Amplitude du hasard entre 0 et 1</label><p>Valeur: <span id="val_dim_ama"></span></p>
                <input type="range" class="form-range" min="0" max="1" step="0.01" id="dimension_ama" name="dimension_ama">
            <label for="Harsardangle" class="form-label">Amplitude des rotations entre 0 et 1</label><p>Valeur: <span id="val_dim_amr"></span></p>
                <input type="range" class="form-range" min="0" max="1" step="0.01" id="dimension_amr" name="dimension_amr">
            <label for="nombreligne" class="form-label">Nombre de lignes entre 0 et 50</label><p>Valeur: <span id="val_dim_nbc"></span></p>
                <input type="range" class="form-range" min="1" max="50" step="1" id="dimension_nbc" name="dimension_nbc">
            <label for="nombreligne" class="form-label">Nombre de colonnes entre 0 et 50</label><p>Valeur: <span id="val_dim_nbl"></span></p>
                <input type="range" class="form-range" min="1" max="50" step="1" id="dimension_nbl" name="dimension_nbl">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="calculer_nees" id="calculer_nees"value="1">Calculer</button>
            <button type="submit" class="btn btn-danger" name="imprimer_nees" id="imprimer_nees"value="1">Imprimer</button>
        </div>
    </form>

    <h1> Résultat : </h1>
    <img src="{{fichier_nees}}" width="100%">
</div>
<script>
var slider = document.getElementById("dimension_ama");
var output = document.getElementById("val_dim_ama");
output.innerHTML = slider.value;
var slider2 = document.getElementById("dimension_amr");
var output2 = document.getElementById("val_dim_amr");
output2.innerHTML = slider2.value;
var slider3 = document.getElementById("dimension_nbc");
var output3 = document.getElementById("val_dim_nbc");
output3.innerHTML = slider3.value;
var slider4 = document.getElementById("dimension_nbl");
var output4 = document.getElementById("val_dim_nbl");
output4.innerHTML = slider4.value;


slider.oninput = function() {
  output.innerHTML = this.value;
}
slider2.oninput = function() {
  output2.innerHTML = this.value;
}
slider3.oninput = function() {
  output3.innerHTML = this.value;
}
slider4.oninput = function() {
  output4.innerHTML = this.value;
}

</script>
{% endblock %}
