<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Art Mathématique{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  
        {% block stylesheets %}
            {###########################################}
            {# Utilise le style sketchy de bootswatch  #}
            {###########################################}
            <link href="https://bootswatch.com/5/sketchy/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="css/font-awesome.css">
        {% endblock %}

        {% block javascripts %}
        <script src="js/scripts.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    <footer class="bg-secondary">
        <div class="row d-flex justify-content mt-auto">
            <div class="col-6">
                <h3>Contact</h3>
                <a href="https://github.com/leonardo-heron" class="fa fa-github font-32"></a>
                <a href="https://www.linkedin.com/in/leonardo-heron" class="fa fa-linkedin font-32"></a>
            </div>
            <div class="col-6">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img class="align-right" alt="Licence Creative Commons" style="border-width:0" src="img/creative-commons.png">
                </a><br />
                Ce(tte) œuvre est mise à disposition selon les termes de la'|trans <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> Licence Creative Commons Attribution - Pas d'Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>..
                </div>
            </div>
        </div>  
    </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</html>
